/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/mix-manifest.json
public/css/*.css
public/js/app.js
public/config-uploads/New Text Document - Copy - Copy (3).txt
public/config-uploads/New Text Document - Copy (2) - Copy.txt
public/config-uploads/New Text Document - Copy (5) - Copy.txt
public/config-uploads/New Text Document - Copy.txt
public/config-uploads/New Text Document.txt
.env.testing
.env.aws
.env.local
