@import "~vuetify/dist/vuetify.min.css";
@import "toastr";

@import url('https://fonts.googleapis.com/css?family=Material+Icons');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css');


a.nav-link.btn {
    border-color: darkRed !important;
    &:hover {
        background-color: darkRed !important;
    }
}

.router-link-active {
    background-color: lightGrey !important;
    color: black !important;
}

@media (max-width: 768px) {
    .nav-link.btn {
        background-color: darkRed !important;
    }
}

ul.nav-treeview {
    margin-left: 30px;
}

.container.component {
    width: 65vw;
}