Resources:
    customdbparametergroup:
        Type: 'AWS::RDS::DBParameterGroup'
        Properties:
            Description: "DB parameter group for Beanstalk RDS instance which enables functions, procedures, and triggers"
            Family: "mysql8.0"
            Parameters:
                "log_bin_trust_function_creators" : 1

    AWSEBRDSDatabase:
        Properties:
            DBParameterGroupName:
                Ref: customdbparametergroup

container_commands:
    01migrations:
        command: "php artisan migrate --force"